.divLegal{
    display: flex;
    background-color: white;
    width: 20%;
    margin: 10px;
    padding: 1px;
}
.divLegal{
    display: flex;
    background-color: white;
    width: 20%;
    margin: 10px;
    padding: 1px;
}